<launch>
    <node name="pose_sensor" pkg="ssf_updates" type="pose_sensor" clear_params="true" output="screen">
	    <remap from="ssf_core/imu_state_update" to="imu_state_update" />

	    <remap from="ssf_core/imu_state_input" to="imu" />
            <remap from="pose_sensor/vicon_pose_measurement" to="/vicon/uscout/uscout" />

	    <rosparam file="$(find ssf_updates)/vicon_pose_sensor_fix.yaml"/>
    </node>
</launch>
